<div class="recipyList">
    <div class="header">
        <h1><span class="line" [ngClass]="type === 'Owned' ? 'owned' : 'favourite'"></span> {{type}}</h1>
        @if(type === 'Owned'){
            <a id="add" routerLink="/recipes/add">Add new recipe <i class="ri-add-box-fill"></i></a>
        }
    </div>
    <div class="cards">
        @if (recipes?.length){
          @if(showAll) {
            @for (recipe of detailedRecipes; track $index){
              <div class="card">
                  <app-recipe-card [recipe]="recipe"></app-recipe-card>
              </div>
          }
          }
          @else {
            @for (recipe of detailedRecipes.slice(0,3); track $index){
              <div class="card">
                  <app-recipe-card [recipe]="recipe"></app-recipe-card>
              </div>
          }

          }
        } @else {
            <p>No recepies found!</p>
        }
    </div>
    @if (recipes && recipes.length > 3) {
      <div class="view-all">
          <a class="view-link" (click)="toggleViewAll()">
              {{ showAll ? 'Show less' : 'View all' }} <i class="ri-arrow-right-fill"></i>
          </a>
      </div>
  }
</div>
