<div id="create">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
        <div>
            <h2>General details</h2>
            <mat-form-field>
                <mat-label>Title</mat-label>
                <input matInput formControlName="title" />
            </mat-form-field>
            <br/>
    
            <mat-form-field>
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description" rows="4" cols="100"></textarea>
            </mat-form-field>
            <br/>
    
            <mat-form-field>
                <mat-label>Cooking Time (minutes)</mat-label>
                <input matInput type="number" class="right-align" formControlName="cookingTime" />
                <span matTextSuffix>min</span>
            </mat-form-field>
            <br/>
    
            <mat-form-field>
                <mat-label>Servings</mat-label>
                <input matInput type="number" class="right-align" formControlName="servings" />
            </mat-form-field>
        </div>
    
        <div>
            <h2>Categories</h2>
            <h3>Skill Level</h3>
            @for(category of skillLevels; track category.id){
                <mat-checkbox
                class="custom-checkbox"
                [value]="category.id.toString()" 
                (change)="onCheckboxChange($event, category.id)" >
                    {{ category.name }}
                </mat-checkbox>
            }
            <h3>Recipe Type</h3>
            @for(category of recipeCategories; track category.id){
                <mat-checkbox
                class="custom-checkbox"
                [value]="category.id.toString()" 
                (change)="onCheckboxChange($event, category.id)" >
                    {{ category.name }}
                </mat-checkbox>
            }
            <h3>Dietary</h3>
            @for(category of dietaryOptions; track category.id){
                <mat-checkbox
                class="custom-checkbox"
                [value]="category.id.toString()" 
                (change)="onCheckboxChange($event, category.id)" >
                    {{ category.name }}
                </mat-checkbox>
            }
        </div>
    
        <div>
            <div class="add-items">
                <h2>Ingredients </h2> 
                <button class="add" type="button" (click)="addIngredient()">+</button>
            </div>
            <div formArrayName="ingredients">
                <div *ngFor="let ing of ingredients.controls; let i = index">
                    <mat-form-field>
                        <mat-label>Ingredient</mat-label>
                        <input matInput [formControlName]="i" />
                    </mat-form-field>
                    <button class="remove" type="button" (click)="removeIngredient(i)">-</button>
                </div>
            </div>
        </div>
    
        <div>
            <div class="add-items">
                <h2>Steps </h2> 
                <button class="add" type="button" (click)="addStep()">+</button>
            </div>
            <div formArrayName="steps">
            <div *ngFor="let step of steps.controls; let i = index">
                <input [formControlName]="i" />
                <button class="remove" type="button" (click)="removeStep(i)">-</button>
            </div>
            </div>
        </div>
    
        <div>
            <h2>Media</h2>
            <label>Poster</label>
            <input type="number" formControlName="poster" />
            <br/>
    
            <label>Gallery</label>
            <input formControlName="images" />
        </div>
    
        <button type="submit">Create Recipe</button>
    </form>    
</div>