<div class="categories-container">
  <h2>Add New Category</h2>

  <form [formGroup]="categoryForm"  (submit)="onSubmit()">
    <div class="form-group">
      <label for="name">Category Name</label>
      <input id="name" formControlName="name" type="text" placeholder="e.g., Desserts" />
    </div>

    <div class="form-group">
      <label for="type">Category Type</label>
      <select id="type" formControlName="categoryType">
        <option value="" disabled selected>Select a type</option>
        @for(type of categoryTypes; track type) {
          <option  [value]="type">{{ type }}</option>
        }
      </select>
    </div>

    <button type="submit" [disabled]="categoryForm.invalid">Add Category</button>
  </form>
</div>
