<div class="review-section">
  <h4>Leave a Review</h4>
  <div class="user-avatar">
    <img src="/avatar.jpg" alt="User Avatar" />
  </div>
  <form class="review-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="rating-input">
      <label for="rating">Your Rating:</label>
      <div class="stars">
        @for(r of [1, 2, 3, 4, 5]; track r) {
        <i
          [class.ri-star-fill]="r <= selectedRating"
          [class.ri-star-line]="r > selectedRating"
          (click)="onStarClick(r)"
        >
        </i>
        }
      </div>
    </div>

    <textarea
      id="comment"
      name="comment"
      formControlName="comment"
      placeholder="Write your review here..."
      required
    >
    </textarea>

    <button type="submit" class="submit-btn">Submit Review</button>
  </form>
</div>
