<header class="header" id="header">
  <nav class="nav container">
    <div>
      <a routerLink="/" class="nav__logo">
        <img src="/gourmet-logo.jpg" alt="Logo image">
      </a>
    </div>

    <div class="nav__menu" id="nav-menu">
      <ul class="nav__list">
        <li class="nav__item">
          <a [routerLink]="['/']" class="nav__link">
            <i class="ri-arrow-right-up-line"></i>
            <span>Home</span>
          </a>
        </li>
        <li class="nav__item" >
          <a [routerLink]="['/search']" class="nav__link">
            <i class="ri-arrow-right-up-line"></i>
            <span>Recipes</span>
          </a>
        </li>
        @if(loggedIn()) {
          @if(currentUser?.role == 'ADMIN') {
            <li class="nav__item" >
              <a [routerLink]="['/admin']" class="nav__link">
                <i class="ri-arrow-right-up-line"></i>
                <span>My Profile</span>
              </a>
            </li>
          }
          @else {
            <li class="nav__item" >
              <a [routerLink]="['/profile/', currentUser?.id]" class="nav__link">
                <i class="ri-arrow-right-up-line"></i>
                <span>My Profile</span>
              </a>
            </li>
          }
        }
          @if(loggedIn()) {
            <li class="nav__item" >
              <a [routerLink]="['/']" class="nav__link" (click)="logout()">
                <i class="ri-arrow-right-up-line"></i>
                <span>Log out</span>
              </a>
            </li>
          }
          @else {
            <li class="nav__item" >
              <a [routerLink]="['/login']" class="nav__link">
                <i class="ri-arrow-right-up-line"></i>
                <span>Login</span>
              </a>
            </li>
          }

      </ul>
    </div>
  </nav>
</header>
