:root {
  --header-height: 4rem;

  /*========== Colors ==========*/
  --background-color: #ececec;
  --navbar-color: rgb(248, 111, 73);
  --lighter-color: #d9d9d9;
  --primary-color: #ff0b23;
  --off-white: #f7f7f7;
  --accent-color: #fe4141;
  --home-page-title-color: rgb(183, 21, 21);
  --star-color:  #f39c12;
  --people-icon-color: gray;
  --dark-red-button-color: darkred;
  --advanced-search-color: #f8f9fa;
  --icon-background: #b6b3b3;
  --user-icon-hover: #2e7d32;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --ai-color: #00BFA6;

  /*========== Font and typography ==========*/
  font-family: "Poppins", sans-serif;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  /*========== z index ==========*/
  --z-fixed: 100;

  /* ======== border radius ======== */
  --border-radius: 0.5em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.primaryButton {
  padding: 1em;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--navbar-color);
  color: var(--off-white);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.primaryButton:hover {
  background-color: var(--accent-color);
}

button {
  cursor: pointer;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
